<!DOCTYPE html>
<html ng-app="couchtapeParty">
<head>
  <title>TV | couchtape Party</title>
  <meta charset="utf-8">
  <base href="/" />
  <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/tv/css/main.css" media="screen" />
    <script>
        var CONFIG = {
            'session': '<%=session%>',
            'host': '<%=host%>'
        }
    </script>
    <script src="/socket.io/socket.io.js"></script>
  <script src="/tv/js/app.js"></script>
</head>
<body>
<div id="wrap" class="box box-h" ng-controller="playlistCtrl" ng-init="init()">
  <section id="stage-wrap" class="flex flex-fill">
    <div id="stage">
      <img ng-src="{{currentSong.img}}">
    </div>
    <div id="mobile-url">http://<%=host%>/<%=session%></div>
    <canvas id="visualizer" width="1024" height="255"></canvas>
  </section>
  <aside class="flex flex-30 flex-max-300 box-v">
    <div class="flex flex-fill">
      <div class="">
        <div id="buffer"><div style="width:{{buffered}}%"></div></div>
        <div id="controls">
          <div id="timing"><span>{{currentTime}}</span> | <span>{{duration}}</span></div>
          <button ng-click="pause()">Pause</button>
          <button ng-click="play()">Play</button>
          <button ng-click="next()">Next</button>
        </div>
      </div>
      <ul class="playlist">
        <li ng-repeat="song in playlist" class="{{song.class}}" id="{{song.id}}">
          <img ng-src="{{song.img}}">
          <h1>{{song.title}}</h1>
          <h2>{{song.artist}}</h2>
        </li>
      </ul>
    </div>
    <div class="flex flex-30 flex-max-250 twitter">
      <div class="inner">
        <h1>#dthack</h1>
        <img src="">
        <span class="username"></span>
        <p class="tweet">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et ma</p>
      </div>
    </div>
  </aside>
</div>
</body>
</html>
