@import "default/less/mixins.less";
@import "default/less/normalize.less";
@import "default/less/structure.less";

body {
  margin: 0;
  padding: 0;
}

#main ul { 
  display: -webkit-flex; 
  height: 400px; 
  overflow-x: scroll; 
  -webkit-flex-flow: column wrap; 
}
#main ul li { 
  width: 150px; 
}

header, footer {
   display: block;
   padding: 5px;
   min-height: 100px;
   border: 1px solid #eebb55;
   background: #ffeebb;
}

#main {
  padding: 5px;
  border: 1px solid #cccc33;
  background: #dddd88;
  -webkit-flex: 3 1 60%;
         flex: 3 1 60%;
  -webkit-order: 2;
         order: 2;

}
