<!DOCTYPE html>
<html>
<head>
    <title>couchtape</title>
    <link rel="stylesheet" type="text/css" href="/mobile/css/main.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/mobile/css/main.css" media="screen" />
</head>
<body>

<div id="wrap" class="box-v">
  <header class="flex flex-min" ng-controller="MenuCtrl">
    <h1>couchtape</h1>
  </header>
  <div id="main" class="flex flex-fill">
    <div class="login-box">
      <h1>Anmeldung</h1>
      <a href="/login"><img src="https://d3ao46zsx00alu.cloudfront.net/my/img/dt-logo-green.png" /> Anmelden</a>
    </div>
  </div>
</div>

</body>
</html>