<!doctype>
<html>
  <head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Mobile | couchtape Party</title>
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link href=/vendor/add2home.css rel=stylesheet>
    <link href=/mobile/css/main.css rel=stylesheet>
  </head>

  <body ng-app=couchtapeParty>
    <div id="wrap" class="box-v">
      <header class="flex flex-min" ng-controller="MenuCtrl">
        <h1>couchtape</h1>
        <button class="next-btn" ng-click="nextSong()">Next</button>
        <button class="menu-btn" ng-click="toggleMenu()">Menu</button>
        <nav ng-show="menuOpen">
          <ul>
            <li><a href=#songs ng-click="toggleMenu()">Songs</a></li>
            <li><a href=#current ng-click="toggleMenu()">Current Song</a></li>
          </ul>
        </nav>
      </header>
      <div id="main" class="flex flex-fill box-v" ng-view></div>
    </div>
  </body>
  <script>
      var CONFIG = {
          session: '<%=session%>',
          host: '<%=host%>'
      };
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src=/mobile/js/app.js></script>
</html>
